# Node / NPM
node_modules/
.next/
dist/
build/
coverage/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
env/
ENV/
**/trained_models/*.pkl
**/trained_models/**/*.pkl
**/trained_models/*.json
**/trained_models/**/*.json
datasets/*.csv

# Environment & Logs
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
*.log

# OS & IDE
.DS_Store
Thumbs.db
.vscode/
.idea/
