PORT=5000
NODE_ENV=development
MONGODB_URI=mongodb://localhost:27017/smartfin_ai
MONGODB_USER=
MONGODB_PASSWORD=
JWT_SECRET=smartfin_ai_super_secret_jwt_key_2026_fyp
JWT_EXPIRES_IN=7d
ML_SERVICE_URL=http://localhost:8000
FRONTEND_URL=http://localhost:3000
